*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", Arial, sans-serif;
  color: #ffffff;
  background-color: #849d8f
}

.container {
  width: 1200px;
  padding-left: 27px;
  padding-right: 27px;
  margin: 0 auto;
}

.nav-list,
.nav-inner,
.nav-controls {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-header {
  padding-top: 10px;
  position: relative;
}

.main-nav {
  display: flex;
  align-items: center;
}

.nav-list-link-border {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.nav-list-item {
  margin-right: 5px;
}

.main-header a {
  text-decoration: none;
  color: inherit;
}

.login-btn,
.search-btn,
.empty-basket-btn,
.full-basket-btn {
  display: flex;
  align-items: center;
}

.nav-controls-btn:hover path,
.nav-controls-btn:focus path,
.nav-controls-btn:hover circle,
.nav-controls-btn:focus circle {
  fill: #000000;
}

.full-basket-btn:hover path:first-child,
.full-basket-btn:focus path:first-child{
  fill: #E84D37;
}

.login-btn svg,
.empty-basket-btn svg,
.full-basket-btn svg {
  margin-right: 5px;
}

.nav-catalog,
.nav-login,
.nav-search,
.nav-basket {
  position: relative;
}

.nav-catalog:hover .nav-inner,
.nav-login:hover .auth-form,
.nav-search:hover .search-form,
.nav-basket:hover .main-header-basket{
  display: block;
}

.nav-controls {
  margin-left: auto;
  display: flex;
}

.nav-list {
  display: flex;
  margin-left: 5px;
}

.nav-list-link,
.nav-list-link-current{
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  padding: 5px 15px;
}

.nav-list-link:hover,
.nav-list-link:focus {
  color: #323232;
  background-color: #f7f6f3;
  border-radius: 50px;
}

.nav-list-link:active {
  background-color: #ededed;
  box-shadow: inset 0 2px 1px 0 rgb(105, 105, 105);
}

.nav-list-link-current {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  background-color: #d07058;
  border-radius: 50px;
}

.nav-inner {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  background-color: #f8f7f4;
  color: #323232;
  min-width: 145px;
  padding: 8px 0 10px;
  position: absolute;
  z-index: 2;
  display: none;
  top: 30px;
  border-radius: 10px;
}

.nav-inner-item:first-child {
  margin-bottom: 7px;
  position: relative;
}

.nav-inner-item:first-child:after {
  content: '';
  width: 128px;
  height: 1px;
  background-color: rgba(129, 129, 129, 0.2);
  position: absolute;
  right: 10px;
  top: 32px;
}

.nav-inner-item-current {
  color: #ffffff;
}

.nav-inner-item a,
.nav-inner-item-current a{
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
}

.nav-inner-link:hover,
.nav-inner-link:focus {
  background-color: #fbded7;
}

.nav-inner-link:active {
  background-color: #f6b5a5;
}

.nav-inner-link-current {
  background-color: #d07058;
  color: inherit;
}

.nav-controls {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;
}

.nav-controls-btn {
  color: inherit;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 50px;
  padding: 5px 15px;
  margin-left: 10px;
}

.search-btn {
  padding-right: 5px;
  padding-left: 5px;
}

.nav-controls-btn:hover,
.nav-controls-btn:focus {
  background-color: #f8f7f4;
  color: #323232;
}

.main-header-basket {
  width: 540px;
  padding: 15px 20px;
}

.main-header-form,
.main-header-basket {
  background-color: #f8f7f4;
}

.auth-form {
  color: #323232;
  width: 275px;
  padding: 20px;
  border-radius: 10px;
  position: absolute;
  z-index: 2;
  top: 30px;
  right: 0;
  display: none;
}

.auth-form .form-input {
  width: 100%;
}

.auth-form-container {
  display: flex;
  justify-content: space-between;
}

.auth-form-link {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  display: block;
}

.search-form {
  width: 340px;
  padding: 20px 10px;
  border-radius: 10px;
  position: absolute;
  z-index: 2;
  top: 30px;
  right: 0;
  display: none;
}

.search-form .form-input {
  width: 100%;
}

.black-link {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid rgba(50, 50, 50, 0.3);
}

.black-link:hover,
.black-link:focus,
.black-link:active {
  color: #e84d37;
  border-bottom: 1px solid rgba(232, 77, 55, 0.3);
}

.form-input {
  border: 2px solid rgba(178, 178, 178, 0.52);
  border-radius: 5px;
  color: #323232;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  padding: 6px 12px;
}

.form-input:hover {
  border: 2px solid rgba(154, 154, 154, 0.52);
}

.form-input:focus {
  border: 2px solid rgba(46, 136, 228, 0.52);
}

.form-input::placeholder {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}

.form-input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}

.form-input::-moz-placeholder {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}

.form-input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}

.form-input:-moz-placeholder {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}

.gradient-button {
  background: rgb(231, 74, 53);
  background: linear-gradient(180deg, rgba(231, 74, 53, 1) 0%, rgba(241, 104, 67, 1) 100%);
  border: none;
  border-radius: 20px;
  text-decoration: none;
  color: #ffffff;
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
  cursor: pointer;
}

.gradient-button:hover,
.gradient-button:focus {
  box-shadow: 0 2px 2px 0 rgb(172, 16, 0);
  background: rgb(245, 134, 105);
  background: linear-gradient(180deg, rgba(245, 134, 105, 1) 0%, rgba(236, 111, 94, 1) 100%);
}

.gradient-button:active {
  box-shadow: 0 2px 2px 0 rgb(172, 16, 0) inset;
  background: rgb(231, 74, 53);
  background: linear-gradient(0deg, rgba(231, 74, 53, 1) 0%, rgba(241, 104, 67, 1) 100%);
}

.main-header-basket {
  position: absolute;
  z-index: 2;
  display: none;
  top: 30px;
  right: 0;
  border-radius: 10px;
  text-align: right;
}

.auth-form-login-btn,
.main-header-basket-order {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
}

.auth-form .form-input {
  margin-bottom: 20px;
}

.auth-form-login-btn {
  padding: 10px 25px;
  border-radius: 20px;
}

.main-header-basket-order {
  display: inline-block;
  vertical-align: center;
  margin-top: 15px;
  padding: 5px 15px;
}

.basket-table{
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  text-align: right;
  color: #323232;
  padding-bottom: 15px;
  border-bottom: 1px solid #cacac7;
}

.basket-table td {
  display: inline-block;
  vertical-align: center;
  max-width: 215px;
  margin-right: 10px;
}

.basket-table {
  text-align: left;
}

.basket-table-price span{
  color: #999999;
}

.basket-table-del-btn {
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.main-header-basket-total {
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
  color: #323232;
  margin: 15px 0 0;
}

.main-header-contacts {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  margin-left: auto;
  text-align: right;
  position: absolute;
  right: 27px;
  z-index: 1;
}

.main-header-contacts p {
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
}

.white-link {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.white-link:hover,
.white-link:focus,
.white-link:active {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.main-header-contacts a {
  font-size: 22px;
  line-height: 24px;
}

.main-header-form,
.main-header-basket,
.nav-inner {
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.slider {
  position: relative;
}

.slider-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.slider-item {
  position: relative;
  text-align: center;
  padding-top: 310px;
}

.slider-title {
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.slider-item img{
  position: absolute;
  top: 0;
  left: 50%;
  z-index: -1;
  transform: translateX(-50%);
}

.slider-item .gradient-button {
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  padding: 10px 30px;
  border-radius: 100px;
  margin-top: 30px;
  margin-bottom: 40px;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
}

.slider-nav {
  position: absolute;
  bottom: 65px;
}

.slider-nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.slider-btn {
  width: 17px;
  height: 17px;
  margin-right: 8px;
  background-color: inherit;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-btn.current {
  background-color: #ffffff;
}

.slider-btn:hover:not(.current) {
  background-color: rgba(255, 255, 255, 0.4);
}

.promo {
  display: flex;
  justify-content: space-between;
}

.promo-column {
  width: 560px;
  border-radius: 15px;
  padding: 20px 25px;
  display: flex;
  flex-direction: column;
}

.action-title {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.action-description {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  margin-top: 22px;
  margin-bottom: 50px;
}

.action-button {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  align-self: flex-end;
  margin-top: auto;
  padding: 12px 24px;
  border-radius: 50px;
}

.raspberry-bg {
  background-color: #ce003b;
  background-image: url("../img/raspberry-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.choco-bg {
  background-color: #4c2c1c;
  background-image: url("../img/choco-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.breadcrumbs {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  list-style: none;
  display: flex;
  margin-top: 25px;
}

.breadcrumbs a {
  margin-right: 20px;
}

.page-title {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  margin-top: 5px;
}

.section-filter {
  margin-top: 40px;
}

.container-filter-form fieldset {
  padding: 0;
  margin: 0;
  border: 0 none;
}

.container-filter-form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.container-filter-form:last-child {
  margin-bottom: 0;
}

.filter-form {
  width: 860px;
}

.filter-form ul {
  list-style: none;
}

.filter-form-legend {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  margin-bottom: 10px;
}

.filter-form-item {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  margin: 0;
  display: flex;
  padding: 10px 11px;
  min-height: 43px;
  align-items: center;
}

.filter-form-item.select {
  color: inherit;
}

.filter-form-item.select:hover,
.filter-form-item.select:focus {
  color: #323232;
}

.filter-form-item li {
  margin-right: 20px;
}

.filter-form-item li:last-child {
  margin-right: 0;
}

.filter-form-button {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: inherit;
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid #ffffff;
  border-radius: 50px;
  cursor: pointer;
  align-self: flex-end;
  min-height: 43px;
  padding: 8px 28px;
}

.filter-form-button:hover,
.filter-form-button:focus {
  color: #323232;
  background-color: #fbfcfb;
}

.filter-form-button:active {
  color: #323232;
  background-color: #ededed;
  border: 2px solid #ededed;
  box-shadow: 0 2px 3px 0 rgb(105, 105, 105) inset;
}

.filter-form input[type="radio"],
.filter-form input[type="checkbox"] {
  display: none;
}

.filter-form-item label {
  cursor: pointer;
}

.filter-form input[type="checkbox"]:checked + .checkbox-text:before{
  content: "";
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  display: inline-block;
  width: 27px;
  height: 23px;
  vertical-align: middle;
  margin-right: 9px;
}

.filter-form input[type="checkbox"]:not(:checked) + .checkbox-text:before{
  content: "";
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  display: inline-block;
  width: 27px;
  height: 23px;
  vertical-align: middle;
  margin-right: 9px;
}

.filter-form input[type="radio"]:checked + .radio-text:before{
  content: "";
  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  display: inline-block;
  width: 25px;
  height: 25px;
  vertical-align: middle;
  margin-right: 9px;
}

.filter-form input[type="radio"]:not(:checked) + .radio-text:before{
  content: "";
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  display: inline-block;
  width: 25px;
  height: 25px;
  vertical-align: middle;
  margin-right: 9px;
}

.products {
  margin-top: 35px;
  padding-bottom: 30px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}

.products-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.products-item {
  width: 267px;
  display: flex;
  flex-direction: column;
  margin-right: 25px;
  padding-top: 5px;
  padding-bottom: 25px;
  margin-bottom: -40px;
  position: relative;
}

.products-item.hit::before{
  content: '';
  background-image: url("../img/hit.svg");
  position: absolute;
  height: 61px;
  width: 61px;
}

.products-item:nth-child(4n) {
  margin-right: 0;
}

.products-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.products-item:hover .products-item-btn {
  visibility: visible;
}

.products-item-price {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  text-shadow: 1px 0 3px rgba(49, 50, 53, 0.5);
  margin-top: -55px;
}

.products-item-price-weight {
  font-size: 30px;
}

.products-item-link {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  text-align: center;
  margin-top: -25px;
  margin-bottom: 15px;
}

.products-item-btn {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  align-self: center;
  margin-top: auto;
  padding: 11px 17px;
  visibility: hidden;
}

.advantages {
  background-color: #eee4cf;
  background-image: url("../img/waffles-bg.png");
  background-position: center;
  background-repeat: repeat;
  color: #323232;
  border-radius: 10px;
  margin-top: 40px;
  padding: 20px 22px;
}

.advantages-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.advantages-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.advantages-item {
  margin-top: 10px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  width: 530px;
  padding-left: 55px;
  padding-top: 15px;
  position: relative;
}

.img-icecream::before {
  content: '';
  background-image: url("../img/ice-cream.svg");
  width: 49px;
  height: 49px;
  position: absolute;
  left: 0;
  top: 0;
}

.img-leave::before {
  content: '';
  background-image: url("../img/eco.svg");
  width: 49px;
  height: 49px;
  position: absolute;
  left: 0;
  top: 0;
}

.img-cow::before {
  content: '';
  background-image: url("../img/cow.svg");
  width: 49px;
  height: 49px;
  position: absolute;
  left: 0;
  top: 0;
}

.img-thermometer::before {
  content: '';
  background-image: url("../img/thermometer.svg");
  width: 49px;
  height: 49px;
  position: absolute;
  left: 0;
  top: 0;
}

.blog-subscribe {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.blog {
  background-color: #ffffff;
  background-image: url("../img/berries-bg.jpg");
  background-position: right;
  background-repeat: no-repeat;
  border-radius: 15px;
  color: #323232;
  width: 560px;
  padding: 25px 260px 25px 20px;
}

.blog-title {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  padding: 0;
  margin: 0;
}

.blog-link {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-decoration: underline;
  border-bottom: none;
}

.blog-link:hover,
.blog-link:focus {
  border-bottom: none;
}

.subscribe {
  background-color: #f8f7f4;
  color: #5a5a5a;
  border: 5px solid transparent;
  border-image: url("../img/bg-post.svg") 7 repeat;
  border-radius: 15px;
  width: 560px;
  padding: 30px 25px 35px;
}

.subscribe-description {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.subscribe-form {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.subscribe-form-btn {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  padding-left: 15px;
  padding-right: 15px;
}

.subscribe-form-input {
  width: 370px;
}

.contacts {
  color: #323232;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  background-color: #cee0c0;
  background-image: url("../img/map.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-top: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
  position: relative;
}

.contacts .container::before {
  content: '';
  background-image: url("../img/pin.svg");
  position: absolute;
  width: 80px;
  height: 140px;
  top: 130px;
  left: 330px;
}

.contacts-info {
  background-color: #fefefe;
  border-radius: 10px;
  margin-left: auto;
  width: 300px;
  padding: 25px 25px 30px;
}

.contacts-info-title {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  margin: 0;
}

.contacts-info-address {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  margin: 0;
}

.contacts-info-order {
  margin-bottom: 5px;
  margin-top: 15px;
}

.contacts-info-tel {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: inherit;
}

.contacts-info-mode {
  margin-top: 5px;
  margin-bottom: 20px;
}

.feedback-btn {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  padding: 5px 25px;
}

.pagination {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin-top: 90px;
}

.pagination-link-current,
.pagination-link:active {
  color: #323232;
  background-color: #ffffff;
  padding: 5px 10px;
  border-radius: 50px;
}

.pagination-link-current {
  margin-right: 5px;
}

.pagination-link {
  color: inherit;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 50px;
  margin-right: 5px;
}

.pagination-link:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.main-footer {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  margin-top: 20px;
  padding-bottom: 27px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-social-list,
.footer-menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
}

.footer-social-item-link svg {
  opacity: 0.8;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}


.footer-social-item-link:hover svg,
.footer-social-item-link:focus svg,
.footer-social-item-link:active svg {
  opacity: 1;
  border: 2px solid rgba(255, 255, 255, 0.7);
}

.footer-social-item-link:active {
  box-shadow: inset 1px 2px 1px 0 rgb(136, 136, 136);
}

.footer-social-item {
  margin-right: 15px;
}

.footer-social-item:last-child {
  margin-right: 0;
}

.footer-menu-list {
  display: flex;
  flex-wrap: wrap;
  width: 350px;
}

.footer-menu-item {
  width: 175px;
}

.footer-academy {
  font-size: 12px;
}

.footer-academy p {
  padding: 0;
  margin: 0;
}

.modal-feedback {
  background-color: #f8f7f4;
  border-radius: 10px;
  width: 480px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px 25px 25px;
  position: relative;
}

.modal-feedback-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: #323232;
  margin: 0;
}

.modal-feedback-form input {
  width: 265px;
}

.modal-feedback-form textarea {
  width: 100%;
}

.modal-feedback-form .form-input {
  margin-top: 25px;
}

.modal-feedback-form-btn {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  margin-left: auto;
  margin-top: 25px;
  padding: 10px 25px;
  display: block;
}

.modal-feedback-form-close {
  border: none;
  background-color: inherit;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  margin: 15px 15px 0 0;
}

.d-none {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
