*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  min-width: 1200px;
  font-family: "Roboto", Arial, sans-serif;
  color: #ffffff;
  background-color: #849d8f;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  padding-left: 27px;
  padding-right: 27px;
  margin: 0 auto;
}

.nav-list,
.nav-inner,
.nav-controls {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-header {
  padding-top: 10px;
  position: relative;
  z-index: 1;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.nav-list-link-border {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.nav-list-item {
  margin-right: 5px;
}

.main-header a {
  text-decoration: none;
  color: inherit;
}

.login-btn,
.search-btn,
.empty-basket-btn,
.full-basket-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-controls-btn:hover path,
.nav-controls-btn:focus path,
.nav-controls-btn:hover circle,
.nav-controls-btn:focus circle {
  fill: #000000;
}

.full-basket-btn:hover path:first-child,
.full-basket-btn:focus path:first-child {
  fill: #E84D37;
}

.login-btn svg,
.empty-basket-btn svg,
.full-basket-btn svg {
  margin-right: 5px;
}

.nav-catalog,
.nav-login,
.nav-search,
.nav-basket {
  position: relative;
}

.nav-catalog:hover .nav-inner-container,
.nav-login:hover .auth-form-container,
.nav-search:hover .search-form-container,
.nav-basket:hover .basket-container {
  display: block;
}

.nav-catalog:focus-within .nav-inner-container,
.nav-search:focus-within .search-form-container,
.nav-login:focus-within .auth-form-container,
.nav-basket:focus-within .basket-container {
  display: block;
}

.auth-form-container,
.search-form-container,
.basket-container {
  position: absolute;
  z-index: 2;
  top: 28px;
  padding-top: 10px;
  right: 0;
  display: none;
}

.nav-inner-container {
  position: absolute;
  z-index: 2;
  display: none;
  top: 20px;
  padding-top: 10px;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: 10px;
  margin-top: 19px;
}

.nav-list-link,
.nav-list-link-current {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  padding: 7px 12px;
}

.nav-list-link:hover,
.nav-list-link:focus {
  color: #323232;
  background-color: #f7f6f3;
  border-radius: 50px;
}

.nav-list-link:active {
  background-color: #ededed;
  -webkit-box-shadow: inset 0 2px 1px 0 rgb(105, 105, 105);
  box-shadow: inset 0 2px 1px 0 rgb(105, 105, 105);
}

.nav-list-link-current {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  background-color: #d07058;
  border-radius: 50px;
}

.nav-inner {
  margin-left: -5px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  background-color: #f8f7f4;
  color: #323232;
  min-width: 145px;
  padding: 5px 0 10px;
  border-radius: 5px;
}

.nav-inner-item:first-child {
  position: relative;
  margin-bottom: 9px;
}

.nav-inner-item:first-child::after {
  content: "";
  width: 128px;
  height: 1px;
  background-color: rgba(129, 129, 129, 0.2);
  position: absolute;
  right: 10px;
  top: 35px;
}

.nav-inner-item-current {
  color: #ffffff;
}

.nav-inner-item a,
.nav-inner-item-current a {
  display: block;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 17px;
}

.nav-inner-link:hover,
.nav-inner-link:focus {
  background-color: #fbded7;
}

.nav-inner-link:active {
  background-color: #f6b5a5;
}

.nav-inner-link-current {
  background-color: #d07058;
  color: inherit;
}

.nav-controls {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 13px;
}

.nav-controls-btn {
  color: inherit;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 50px;
  padding: 7px 18px;
  margin-left: 8px;
}

.search-btn {
  padding: 8px;
  margin-left: 0;
}

.nav-controls-btn:hover,
.nav-controls-btn:focus {
  background-color: #f8f7f4;
  color: #323232;
}

.main-header-basket {
  width: 540px;
  padding: 15px;
}

.main-header-form,
.main-header-basket {
  background-color: #f8f7f4;
}

.auth-form {
  color: #323232;
  width: 275px;
  padding: 18px;
  border-radius: 5px;
}

.auth-form .form-input {
  width: 100%;
}

.auth-form-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.auth-form-link {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  display: block;
}

.search-form {
  width: 340px;
  padding: 20px 10px;
  border-radius: 5px;
}

.search-form .form-input {
  width: 100%;
}

.black-link {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid rgba(50, 50, 50, 0.3);
}

.black-link:hover,
.black-link:focus,
.black-link:active {
  color: #e84d37;
  border-bottom: 1px solid rgba(232, 77, 55, 0.3);
}

.form-input {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #323232;
  padding: 9px 12px;
  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 5px;
}

.form-input:hover {
  padding: 8px 11px;
  border: 2px solid rgba(154, 154, 154, 0.52);
}

.form-input:focus {
  padding: 8px 11px;
  border: 2px solid rgba(46, 136, 228, 0.52);
}

.form-input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}

.form-input::-moz-placeholder {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}

.form-input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}

.form-input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}

.form-input::placeholder {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}

.gradient-button {
  background: rgb(231, 74, 53);
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(231, 74, 53, 1)), to(rgba(241, 104, 67, 1)));
  background: -o-linear-gradient(bottom, rgba(231, 74, 53, 1) 0%, rgba(241, 104, 67, 1) 100%);
  background: linear-gradient(0deg, rgba(231, 74, 53, 1) 0%, rgba(241, 104, 67, 1) 100%);
  border: none;
  border-radius: 20px;
  text-decoration: none;
  color: #ffffff;
  -webkit-box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
  cursor: pointer;
}

.gradient-button:hover,
.gradient-button:focus {
  -webkit-box-shadow: 0 2px 2px 0 rgb(172, 16, 0);
  box-shadow: 0 2px 2px 0 rgb(172, 16, 0);
  background: rgb(245, 134, 105);
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(245, 134, 105, 1)), to(rgba(236, 111, 94, 1)));
  background: -o-linear-gradient(bottom, rgba(245, 134, 105, 1) 0%, rgba(236, 111, 94, 1) 100%);
  background: linear-gradient(0deg, rgba(245, 134, 105, 1) 0%, rgba(236, 111, 94, 1) 100%);
}

.gradient-button:active {
  -webkit-box-shadow: 0 2px 2px 0 rgb(172, 16, 0) inset;
  box-shadow: 0 2px 2px 0 rgb(172, 16, 0) inset;
  background: rgb(231, 74, 53);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(231, 74, 53, 1)), to(rgba(241, 104, 67, 1)));
  background: -o-linear-gradient(top, rgba(231, 74, 53, 1) 0%, rgba(241, 104, 67, 1) 100%);
  background: linear-gradient(180deg, rgba(231, 74, 53, 1) 0%, rgba(241, 104, 67, 1) 100%);
}

.main-header-basket {
  border-radius: 10px;
  text-align: right;
}

.auth-form-login-btn,
.main-header-basket-order {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
}

.auth-form .form-input {
  margin-bottom: 20px;
}

.auth-form-login-btn {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  padding: 12px 26px;
  border-radius: 20px;
}

.main-header-basket-order {
  display: inline-block;
  vertical-align: middle;
  margin-top: 15px;
  padding: 5px 15px;
}

.basket-table {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  text-align: left;
  color: #323232;
  padding-bottom: 18px;
  border-bottom: 1px solid #cacac7;
}

.basket-table tr,
.basket-table td,
.basket-table-del-btn {
  padding: 0;
}

.basket-table tr {
  display: block;
  margin-bottom: 17px;
}

.basket-table tr:last-child {
  margin-bottom: 0;
}

.basket-table td {
  display: inline-block;
  vertical-align: middle;
  max-width: 220px;
  margin-right: 10px;
}

.basket-table td:last-child {
  margin-right: 0;
}

.basket-table-price {
  margin-left: 17px;
}

.basket-table-total-price {
  margin-left: 10px;
}

.basket-table-price-grey {
  color: #999999;
}

.basket-table-del-btn {
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.main-header-basket-total {
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
  color: #323232;
  margin: 15px 0 0;
}

.main-header-contacts {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  margin-left: auto;
  text-align: right;
  position: absolute;
  bottom: -40px;
  right: 27px;
  z-index: 1;
}

.main-header-contacts p {
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
}

.white-link {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.white-link:hover,
.white-link:focus,
.white-link:active {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.main-header-contacts a {
  font-size: 22px;
  line-height: 24px;
}

.main-header-form,
.main-header-basket,
.nav-inner {
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.slider {
  position: relative;
  z-index: 0;
}

.slider-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.slider-item {
  position: relative;
  text-align: center;
  padding-top: 315px;
  display: none;
}

.slider-title {
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.slider-item img {
  width: 647px;
  height: 584px;
  position: absolute;
  top: 5px;
  right: 50%;
  z-index: -1;
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
}

.slide-1::before,
.slide-2::before,
.slide-3::before {
  content: "";
  position: absolute;
  z-index: -2;
  top: -90px;
  right: 50%;
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
  transition: ease all 0.5s;
}

.slide-1::before {
  background-image: url("../img/slider-backlight-1.png");
  width: 1045px;
  height: 881px;
}

.slide-2::before {
  background-image: url("../img/slider-backlight-2.png");
  width: 1065px;
  height: 859px;
}

.slide-3::before {
  background-image: url("../img/slider-backlight-3.png");
  width: 1079px;
  height: 854px;
}

.slider-link {
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  padding: 10px 40px;
  border-radius: 100px;
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 40px;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
}

.slider-nav {
  position: absolute;
  bottom: 60px;
}

.slider-nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

.slider-btn {
  width: 20px;
  height: 20px;
  display: inline-block;
  padding: 0;
  margin-right: 9px;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-btn:hover:not(.current),
.slider-btn:focus:not(.current) {
  background-color: rgba(255, 255, 255, 0.4);
}

.site-wrapper {
  -webkit-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
}

#product-1:checked ~ .site-wrapper #slide-1,
#product-2:checked ~ .site-wrapper #slide-2,
#product-3:checked ~ .site-wrapper #slide-3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

.promo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}

.promo-column {
  width: 560px;
  border-radius: 15px;
  padding: 16px 21px 23px 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.action-title {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.action-description {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 45px;
}

.action-button {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  -ms-flex-item-align: end;
  align-self: flex-end;
  margin-top: auto;
  padding: 11px 22px;
  border-radius: 50px;
}

.raspberry-bg {
  background-color: #ce003b;
  background-image: url("../img/raspberry-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.choco-bg {
  background-color: #4c2c1c;
  background-image: url("../img/choco-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.breadcrumbs {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.breadcrumbs-item {
  margin-right: 20px;
  position: relative;
}

.breadcrumbs-item:not(:last-child) ::after {
  content: "\00BB";
  position: absolute;
  right: -12px;
}

.page-title {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  margin-top: 5px;
}

.section-filter {
  margin-top: 26px;
}

.container-filter-form fieldset {
  padding: 0;
  margin: 0;
  border: 0 none;
}

.container-filter-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 13px;
}

.container-filter-form:last-child {
  margin-bottom: 0;
}

.filter-form {
  width: 860px;
}

.filter-form ul {
  list-style: none;
}

.filter-form-legend {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  margin-bottom: 8px;
  margin-left: 16px;
}

.filter-form-list {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 15px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.filter-form-list.select {
  color: inherit;
  border: 0 none;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-right: 33px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  background-image: url("../img/icon-down-dir.svg");
  background-repeat: no-repeat;
  background-position: 92% 50%;
}

.filter-form-list.select::-ms-expand {
  display: none; /* hide the default arrow in ie10 and ie11 */
}

.filter-form-list.select:hover,
.filter-form-list.select:focus {
  background-image: url("../img/icon-down-dir-black.svg");
  fill: #000000;
  color: #323232;
}

.filter-form-list.wheel {
  padding: 15px 22px;
  position: relative;
  z-index: 0;
}

.filter-form-list.radio {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 14px;
  padding-right: 17px;
}

.filter-form-list.checkbox {
  padding-top: 8px;
  padding-bottom: 8px;
}

.filter-form-item {
  margin-right: 15px;
}

.filter-form-item:last-child {
  margin-right: 0;
}

.filter-form-button {
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  color: inherit;
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid #ffffff;
  border-radius: 50px;
  cursor: pointer;
  -ms-flex-item-align: end;
  align-self: flex-end;
  padding: 8px 28px;
}

.filter-form-button:hover,
.filter-form-button:focus {
  color: #323232;
  background-color: #fbfcfb;
}

.filter-form-button:active {
  color: #323232;
  background-color: #ededed;
  border: 2px solid #ededed;
  -webkit-box-shadow: 0 2px 3px 0 rgb(105, 105, 105) inset;
  box-shadow: 0 2px 3px 0 rgb(105, 105, 105) inset;
}

.filter-form input[type="radio"],
.filter-form input[type="checkbox"] {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.filter-form input[type="checkbox"] + .checkbox-text::before,
.filter-form input[type="radio"] + .radio-text::before {
  content: "";
  background-color: transparent;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
  opacity: 0.8;
  background-size: 100% 100%;
  margin-right: 9px;
}

.filter-form input[type="checkbox"] + .checkbox-text::before {
  width: 24px;
  height: 20px;
}

.filter-form input[type="radio"] + .radio-text::before {
  width: 22px;
  height: 22px;
}

.filter-form input[type="checkbox"] + .checkbox-text::before {
  background-image: url("../img/checkbox-off.svg");
}

.filter-form input[type="checkbox"]:checked + .checkbox-text::before {
  background-image: url("../img/checkbox-on.svg");
}

.filter-form input[type="radio"] + .radio-text::before {
  background-image: url("../img/radio-off.svg");
}

.filter-form input[type="radio"]:checked + .radio-text::before {
  background-image: url("../img/radio-on.svg");
}

.filter-form input[type="radio"] + .radio-text:hover::before,
.filter-form input[type="checkbox"] + .checkbox-text:hover::before {
  opacity: 1;
}

.filter-form input[type="radio"]:focus + .radio-text::before,
.filter-form input[type="checkbox"]:focus + .checkbox-text::before {
  opacity: 1;
  outline: 2px solid rgba(0, 151, 222, 0.8);
}

.filter-form input[type="radio"]:disabled + .radio-text::before,
.filter-form input[type="checkbox"]:disabled + .checkbox-text::before {
  opacity: 0.4;
}

.checkbox-label {
  margin-right: 5px;
}

.radio-label {
  margin-right: 3px;
}

/* Ширина слайдера */
.wheel-slider {
  width: 176px;
}

/* Контейнер слайдера */
.ui-slider {
  position: relative;
}

.ui-corner-all {
  border-radius: 0;
}

/* Ползунок */
.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 20px; /* Задаем нужную ширину */
  height: 20px; /* и высоту */
  background-color: transparent;
  background-image: url("../img/filter-button.svg");
  background-repeat: no-repeat; /* картинка изображающая ползунок. Или можно залить цветом, задать бордюр и скругления */
  cursor: pointer;
}

.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  display: block;
  border: 0;
  overflow: hidden;
}

/* горизонтальный слайдер (сама полоса по которой бегает ползунок) */
.ui-slider-horizontal {
  height: 4px;
  border-radius: 0; /* задаем высоту согласно дизайна */
}

/* позиционируем ползунки */
.ui-slider-horizontal .ui-slider-handle {
  bottom: 50%;
  left: 50%;
  -webkit-transform: translateY(50%) translateX(-50%);
  -ms-transform: translateY(50%) translateX(-50%);
  transform: translateY(50%) translateX(-50%);
}

.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 4px;
}

.ui-slider-horizontal .ui-slider-range-min {
  left: 0;
}

.ui-slider-horizontal .ui-slider-range-max {
  right: 0;
}

/* оформление полосы по которой ходит ползунок */
.ui-widget-content {
  background: rgba(255, 255, 255, 0.5);
}

/* оформление активного участка (между двумя ползунками) */
.ui-widget-header {
  background: #ffffff;
}

/* скругление для полосы слайдера */
.ui-corner-all {
  border-radius: 4px;
}

.products {
  margin-top: 40px;
  padding-bottom: 15px;
}

.inner-products {
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}

.products-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.products-item {
  width: 267px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-right: 25px;
  margin-bottom: 38px;
  position: relative;
  z-index: 1;
}


.products-item img {
  border-radius: 50%;
  position: absolute;
  z-index: -1;
}

.products-item.hit::before {
  content: "";
  background-color: transparent;
  background-image: url("../img/hit.svg");
  background-repeat: no-repeat;
  border-radius: 50px;
  position: absolute;
  height: 61px;
  width: 61px;
  z-index: 1;
}

.products-item::after {
  content: "";
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  position: absolute;
  right: 50%;
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
  top: -5px;
  width: calc(100% + 25px);
  height: calc(100% + 80px);
  z-index: -2;
  display: none;
}

.products-item:nth-child(4n) {
  margin-right: 0;
}

.products-item-price {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  text-shadow: 1px 0 3px rgba(49, 50, 53, 0.5);
  padding: 0;
  margin-bottom: 0;
  margin-top: 210px;
}

.ruble {
  margin-left: 5px;
}

.products-item-price-weight {
  font-size: 30px;
}

.products-item-link {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  text-align: center;
  margin-top: 21px;
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
  vertical-align: middle;
}

.products-item-link:hover .white-link,
.products-item-link:focus .white-link {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.products-item-btn {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  white-space: nowrap;
  padding: 11px 15px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  position: absolute;
  right: 50%;
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
  bottom: -53px;
  display: none;
}


.products-item:hover {
  z-index: 2;
}

.products-item:focus-within {
  z-index: 2;
}

.products-item:hover::after,
.products-item:hover .products-item-btn {
  display: block;
}

.products-item:focus-within::after,
.products-item:focus-within .products-item-btn {
  display: block;
}

.advantages {
  background-color: #eee4cf;
  background-image: url("../img/waffles-bg.png");
  background-position: center;
  background-repeat: repeat;
  color: #323232;
  border-radius: 15px;
  padding: 23px 28px 25px 20px;
  margin-top: -15px;
}

.advantages-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  letter-spacing: 0.09px;
  margin: 0;
  padding: 0;
}

.advantages-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.advantages-item {
  margin-top: 12px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  width: 532px;
  padding-left: 56px;
  padding-top: 12px;
  position: relative;
}

.img-icecream::before {
  content: "";
  background-color: transparent;
  background-image: url("../img/ice-cream.svg");
  width: 49px;
  height: 49px;
  position: absolute;
  left: 0;
  top: 0;
}

.img-leave::before {
  content: "";
  background-color: transparent;
  background-image: url("../img/eco.svg");
  width: 49px;
  height: 49px;
  position: absolute;
  left: 0;
  top: 0;
}

.img-cow::before {
  content: "";
  background-color: transparent;
  background-image: url("../img/cow.svg");
  width: 49px;
  height: 49px;
  position: absolute;
  left: 0;
  top: 0;
}

.img-thermometer::before {
  content: "";
  background-color: transparent;
  background-image: url("../img/thermometer.svg");
  width: 49px;
  height: 49px;
  position: absolute;
  left: 0;
  top: 0;
}

.blog-subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 40px;
}

.blog {
  background-color: #ffffff;
  background-image: url("../img/berries-bg.jpg");
  background-position: right;
  background-repeat: no-repeat;
  border-radius: 15px;
  color: #323232;
  width: 560px;
  padding: 23px 255px 25px 20px;
}

.blog-title {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
}

.blog-link {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-decoration: underline;
  border-bottom: none;
}

.blog-link:hover,
.blog-link:focus {
  border-bottom: none;
}

.subscribe {
  width: 560px;
  border-radius: 10px;
  background: -o-repeating-linear-gradient(135deg, #ffffff, #ffffff 10px, #92cdff 10px, #92cdff 20px, #ffffff 20px, #ffffff 30px, #fe9e90 30px, #fe9e90 40px);
  background: repeating-linear-gradient(-45deg, #ffffff, #ffffff 10px, #92cdff 10px, #92cdff 20px, #ffffff 20px, #ffffff 30px, #fe9e90 30px, #fe9e90 40px);
  padding: 5px;
}

.subscribe-container {
  background-color: #f8f7f4;
  color: #5a5a5a;
  padding: 28px 22px 35px;
}

.subscribe-description {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.subscribe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 37px;
}

.subscribe-form-btn {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  padding-left: 18px;
  padding-right: 18px;
}

.subscribe-form-input {
  width: 370px;
}

.contacts {
  margin-top: 40px;
  padding-top: 62px;
  padding-bottom: 62px;
  position: relative;
}

.map {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  border: 0 none;
  background-image: url("../img/map.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #cee0c0;
}

.contacts-info {
  color: #323232;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  background-color: #fefefe;
  border-radius: 10px;
  margin-left: auto;
  width: 300px;
  padding: 29px 24px 30px;
  position: relative;
  z-index: 1;
}

.contacts-info-title {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  margin: 0;
  padding-right: 50px;
}

.contacts-info-address {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  margin: 0;
  margin-top: 2px;
}

.contacts-info-order {
  margin-top: 17px;
  margin-bottom: 5px;
}

.contacts-info-tel {
  font-size: 19px;
  line-height: 22px;
  font-weight: 700;
  letter-spacing: -0.5px;
  color: inherit;
}

.contacts-info-mode {
  margin-top: 3px;
  margin-bottom: 24px;
}

.feedback-open-btn {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  padding: 10px 26px;
  display: inline-block;
  vertical-align: middle;
}

.pagination {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 47px;
  margin-right: -7px;
}

.pagination-link-current,
.pagination-link:active {
  color: #323232;
  background-color: #ffffff;
  padding: 5px 10px;
  border-radius: 50px;
}

.pagination-link {
  color: inherit;
  text-decoration: none;
  padding: 5px 10px;
}

.pagination-back,
.pagination-forward {
  padding: 5px 10px;
}

.pagination-back svg {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.pagination-back.link-disabled {
  opacity: 0.3;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-link:hover,
.pagination-forward:hover,
.pagination-link:focus,
.pagination-forward:focus {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
}

.main-footer {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  margin-top: 20px;
  padding-bottom: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer-social-list,
.footer-menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 10px;
}

.footer-social-item-link svg {
  display: block;
}

.footer-social-item-link {
  display: inline-block;
  vertical-align: middle;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  opacity: 0.8;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.footer-social-item-link:hover,
.footer-social-item-link:focus {
  opacity: 1;
  border: 3px solid rgba(255, 255, 255, 0.7);
}

.footer-social-item-link:active {
  opacity: 0.8;
}

.footer-social-item {
  margin-right: 11px;
}

.footer-social-item:last-child {
  margin-right: 0;
}

.footer-menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: 32px;
  margin-top: 7px;
  width: 330px;
}

.footer-menu-item {
  min-width: 142px;
  margin-top: 5px;
}

.heart {
  position: relative;
}

.heart::before {
  content: "";
  background-color: transparent;
  background-image: url("../img/heart.svg");
  position: absolute;
  width: 15px;
  height: 13px;
  left: -20px;
  margin-top: 2px;
  display: inline-block;
  vertical-align: middle;
}


.footer-academy {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.footer-academy img {
  width: 108px;
  height: 39px;
  margin-left: 1px;
}

.footer-academy p {
  padding: 0;
  margin: 0;
}

.modal-feedback {
  background-color: #f8f7f4;
  border-radius: 10px;
  width: 480px;
  margin-right: auto;
  margin-left: auto;
  padding: 15px 25px 25px;
  position: fixed;
  z-index: 21;
  bottom: 50%;
  right: 50%;
  -webkit-animation: bounce 0.5s;
  animation: bounce 0.5s;
  -webkit-transform: translateY(50%) translateX(50%);
  -ms-transform: translateY(50%) translateX(50%);
  transform: translateY(50%) translateX(50%);
}

.modal-feedback-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: #323232;
  margin: 0;
}

.modal-feedback-form input {
  width: 265px;
}

.modal-feedback-form textarea {
  width: 100%;
}

.modal-feedback-form .form-input {
  margin-top: 20px;
}

.modal-feedback-form-btn {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  margin-left: auto;
  margin-top: 37px;
  padding: 10px 23px;
  display: block;
}

.feedback-close-btn {
  border: none;
  background-color: inherit;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  margin: 15px 15px 0 0;
}

.modal-error {
  -webkit-animation: shake 0.6s;
  animation: shake 0.6s;
}

.d-none {
  display: none;
}

.overlay {
  position: fixed;
  z-index: 20;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(100%) translateX(50%);
    transform: translateY(100%) translateX(50%);
  }

  65% {
    -webkit-transform: translateY(10%) translateX(50%);
    transform: translateY(10%) translateX(50%);
  }

  90% {
    -webkit-transform: translateY(65%) translateX(50%);
    transform: translateY(65%) translateX(50%);
  }

  100% {
    -webkit-transform: translateY(50%) translateX(50%);
    transform: translateY(50%) translateX(50%);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(100%) translateX(50%);
    transform: translateY(100%) translateX(50%);
  }

  65% {
    -webkit-transform: translateY(10%) translateX(50%);
    transform: translateY(10%) translateX(50%);
  }

  90% {
    -webkit-transform: translateY(65%) translateX(50%);
    transform: translateY(65%) translateX(50%);
  }

  100% {
    -webkit-transform: translateY(50%) translateX(50%);
    transform: translateY(50%) translateX(50%);
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateY(50%) translateX(50%);
    transform: translateY(50%) translateX(50%);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateY(50%) translateX(52%);
    transform: translateY(50%) translateX(52%);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateY(50%) translateX(48%);
    transform: translateY(50%) translateX(48%);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateY(50%) translateX(50%);
    transform: translateY(50%) translateX(50%);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateY(50%) translateX(52%);
    transform: translateY(50%) translateX(52%);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateY(50%) translateX(48%);
    transform: translateY(50%) translateX(48%);
  }
}
