*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", Arial, sans-serif;
  color: #ffffff;
  background-color: #849d8f
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  padding-left: 27px;
  padding-right: 27px;
  margin: 0 auto;
}

.nav-list,
.nav-inner,
.nav-controls {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-header {
  padding-top: 10px;
  position: relative;
}

.main-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.nav-list-link-border {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.nav-list-item {
  margin-right: 5px;
}

.main-header a {
  text-decoration: none;
  color: inherit;
}

.login-btn,
.search-btn,
.empty-basket-btn,
.full-basket-btn {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.nav-controls-btn:hover path,
.nav-controls-btn:focus path,
.nav-controls-btn:hover circle,
.nav-controls-btn:focus circle {
  fill: #000000;
}

.full-basket-btn:hover path:first-child,
.full-basket-btn:focus path:first-child {
  fill: #E84D37;
}

.login-btn svg,
.empty-basket-btn svg,
.full-basket-btn svg {
  margin-right: 5px;
}

.nav-catalog,
.nav-login,
.nav-search,
.nav-basket {
  position: relative;
}

.nav-catalog:hover .nav-inner-container,
.nav-login:hover .auth-form-container,
.nav-search:hover .search-form-container,
.nav-basket:hover .basket-container {
  display: block;
}


.auth-form-container,
.search-form-container,
.basket-container {
  position: absolute;
  z-index: 2;
  top: 28px;
  padding-top: 10px;
  right: 0;
  display: none;
}

.nav-inner-container {
  position: absolute;
  z-index: 2;
  display: none;
  top: 20px;
  padding-top: 10px;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: 10px;
  margin-top: 19px;
}

.nav-list-link,
.nav-list-link-current {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  padding: 7px 12px;
}

.nav-list-link:hover,
.nav-list-link:focus {
  color: #323232;
  background-color: #f7f6f3;
  border-radius: 50px;
}

.nav-list-link:active {
  background-color: #ededed;
  box-shadow: inset 0 2px 1px 0 rgb(105, 105, 105);
}

.nav-list-link-current {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  background-color: #d07058;
  border-radius: 50px;
}

.nav-inner {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  background-color: #f8f7f4;
  color: #323232;
  min-width: 145px;
  padding: 8px 0 10px;
  border-radius: 10px;
}

.nav-inner-item:first-child {
  margin-bottom: 10px;
  position: relative;
}

.nav-inner-item:first-child:after {
  content: "";
  width: 128px;
  height: 1px;
  background-color: rgba(129, 129, 129, 0.2);
  position: absolute;
  right: 10px;
  top: 38px;
}

.nav-inner-item-current {
  color: #ffffff;
}

.nav-inner-item a,
.nav-inner-item-current a {
  display: block;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
}

.nav-inner-link:hover,
.nav-inner-link:focus {
  background-color: #fbded7;
}

.nav-inner-link:active {
  background-color: #f6b5a5;
}

.nav-inner-link-current {
  background-color: #d07058;
  color: inherit;
}

.nav-controls {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 14px;
}

.nav-controls-btn {
  color: inherit;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 50px;
  padding: 8px 16px;
  margin-left: 10px;
}

.search-btn {
  padding-right: 8px;
  padding-left: 8px;
  margin-left: 0;
}

.nav-controls-btn:hover,
.nav-controls-btn:focus {
  background-color: #f8f7f4;
  color: #323232;
}

.main-header-basket {
  width: 540px;
  padding: 15px 20px;
}

.main-header-form,
.main-header-basket {
  background-color: #f8f7f4;
}

.auth-form {
  color: #323232;
  width: 275px;
  padding: 20px;
  border-radius: 10px;
}

.auth-form .form-input {
  width: 100%;
}

.auth-form-controls {
  display: flex;
  justify-content: space-between;
}

.auth-form-link {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  display: block;
}

.search-form {
  width: 340px;
  padding: 20px 10px;
  border-radius: 10px;
}

.search-form .form-input {
  width: 100%;
}

.black-link {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid rgba(50, 50, 50, 0.3);
}

.black-link:hover,
.black-link:focus,
.black-link:active {
  color: #e84d37;
  border-bottom: 1px solid rgba(232, 77, 55, 0.3);
}

.form-input {
  border: 2px solid rgba(178, 178, 178, 0.52);
  border-radius: 5px;
  color: #323232;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  padding: 9px 12px;
}

.form-input:hover,
.form-input:focus {
  border: 2px solid rgba(154, 154, 154, 0.52);
}

.form-input:focus {
  border: 2px solid rgba(46, 136, 228, 0.52);
}

.form-input::-webkit-input-placeholder,
.form-input::-moz-placeholder,
.form-input:-ms-input-placeholder,
.form-input::placeholder {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}

.gradient-button {
  background: rgb(231, 74, 53);
  background: linear-gradient(0deg, rgba(231, 74, 53, 1) 0%, rgba(241, 104, 67, 1) 100%);
  border: none;
  border-radius: 20px;
  text-decoration: none;
  color: #ffffff;
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
  cursor: pointer;
}

.gradient-button:hover,
.gradient-button:focus {
  box-shadow: 0 2px 2px 0 rgb(172, 16, 0);
  background: rgb(245, 134, 105);
  background: linear-gradient(0deg, rgba(245, 134, 105, 1) 0%, rgba(236, 111, 94, 1) 100%);
}

.gradient-button:active {
  box-shadow: 0 2px 2px 0 rgb(172, 16, 0) inset;
  background: rgb(231, 74, 53);
  background: linear-gradient(180deg, rgba(231, 74, 53, 1) 0%, rgba(241, 104, 67, 1) 100%);
}

.main-header-basket {
  border-radius: 10px;
  text-align: right;
}

.auth-form-login-btn,
.main-header-basket-order {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
}

.auth-form .form-input {
  margin-bottom: 20px;
}

.auth-form-login-btn {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  padding: 10px 25px;
  border-radius: 20px;
}

.main-header-basket-order {
  display: inline-block;
  vertical-align: middle;
  margin-top: 15px;
  padding: 5px 15px;
}

.basket-table {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  text-align: left;
  color: #323232;
  padding-bottom: 15px;
  border-bottom: 1px solid #cacac7;
}

.basket-table td {
  display: inline-block;
  vertical-align: middle;
  max-width: 215px;
  margin-right: 10px;
}

.basket-table td:last-child {
  margin-right: 0;
}

.basket-table-price-grey {
  color: #999999;
}

.basket-table-del-btn {
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.main-header-basket-total {
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
  color: #323232;
  margin: 15px 0 0;
}

.main-header-contacts {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  margin-left: auto;
  text-align: right;
  position: absolute;
  bottom: -40px;
  right: 27px;
  z-index: 1;
}

.main-header-contacts p {
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
}

.white-link {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.white-link:hover,
.white-link:focus,
.white-link:active {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.main-header-contacts a {
  font-size: 22px;
  line-height: 24px;
}

.main-header-form,
.main-header-basket,
.nav-inner {
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.slider {
  position: relative;
}

.slider-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.slider-item {
  position: relative;
  text-align: center;
  padding-top: 315px;
}

.slider-title {
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.slider-item img {
  position: absolute;
  top: 6px;
  left: 50%;
  z-index: -1;
  transform: translateX(-50%);
}

.slider-link {
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  padding: 10px 40px;
  border-radius: 100px;
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 40px;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
}

.slider-nav {
  position: absolute;
  bottom: 60px;
}

.slider-nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.slider-btn {
  width: 20px;
  height: 20px;
  padding: 0;
  margin-right: 9px;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-btn.current {
  background-color: #ffffff;
}

.slider-btn:hover:not(.current),
.slider-btn:focus:not(.current) {
  background-color: rgba(255, 255, 255, 0.4);
}

.promo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.promo-column {
  width: 560px;
  border-radius: 15px;
  padding: 16px 21px 23px 19px;
  display: flex;
  flex-direction: column;
}

.action-title {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.action-description {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 45px;
}

.action-button {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  align-self: flex-end;
  margin-top: auto;
  padding: 11px 22px;
  border-radius: 50px;
}

.raspberry-bg {
  background-color: #ce003b;
  background-image: url("../img/raspberry-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.choco-bg {
  background-color: #4c2c1c;
  background-image: url("../img/choco-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.breadcrumbs {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  list-style: none;
  display: flex;
  margin-top: 20px;
}

.breadcrumbs-item {
  margin-right: 20px;
  position: relative;
}

.breadcrumbs-item:not(:last-child) ::after {
  content: "\00BB";
  position: absolute;
  right: -12px;
}

.page-title {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  margin-top: 5px;
}

.section-filter {
  margin-top: 25px;
}

.container-filter-form fieldset {
  padding: 0;
  margin: 0;
  border: 0 none;
}

.container-filter-form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 13px;
}

.container-filter-form:last-child {
  margin-bottom: 0;
}

.filter-form {
  width: 860px;
}

.filter-form ul {
  list-style: none;
}

.filter-form-legend {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  margin-bottom: 9px;
  margin-left: 16px;
}

.filter-form-list {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  margin: 0;
  display: flex;
  padding: 0 15px;
  align-items: center;
}

.filter-form-list.select {
  color: inherit;
  border: 0 none;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-right: 30px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  background-image: url("../img/icon-down-dir.svg");
  background-repeat: no-repeat;
  background-position: 90% 50%;
}

.filter-form-list.select::-ms-expand {
  display: none; /* hide the default arrow in ie10 and ie11 */
}

.filter-form-list.select:hover,
.filter-form-list.select:focus {
  background-color: transparent;
  background-image: url("../img/icon-down-dir-black.svg");
  fill: #000000;
  color: #323232;
}

.filter-form-list.wheel {
  padding: 8px 20px;
  min-height: 35px;
  width: 220px;
}

.filter-form-list.radio {
  padding-top: 5px;
  padding-bottom: 5px;
}

.filter-form-list.checkbox {
  padding-top: 6px;
  padding-bottom: 6px;
}

.filter-form-item {
  margin-right: 15px;
}

.filter-form-item:last-child {
  margin-right: 0;
}

.filter-form-button {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: inherit;
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid #ffffff;
  border-radius: 50px;
  cursor: pointer;
  align-self: flex-end;
  padding: 7px 28px;
}

.filter-form-button:hover,
.filter-form-button:focus {
  color: #323232;
  background-color: #fbfcfb;
}

.filter-form-button:active {
  color: #323232;
  background-color: #ededed;
  border: 2px solid #ededed;
  box-shadow: 0 2px 3px 0 rgb(105, 105, 105) inset;
}

.filter-form input[type="radio"],
.filter-form input[type="checkbox"] {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.filter-form input[type="checkbox"]:checked + .checkbox-text:before {
  content: "";
  background-color: transparent;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  opacity: 0.8;
  display: inline-block;
  width: 27px;
  height: 23px;
  vertical-align: middle;
  margin-right: 10px;
}

.filter-form input[type="checkbox"]:not(:checked) + .checkbox-text:before {
  content: "";
  background-color: transparent;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  opacity: 0.8;
  display: inline-block;
  width: 27px;
  height: 23px;
  vertical-align: middle;
  margin-right: 10px;
}

.filter-form input[type="radio"]:checked + .radio-text:before {
  content: "";
  background-color: transparent;
  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  opacity: 0.8;
  display: inline-block;
  width: 25px;
  height: 25px;
  vertical-align: middle;
  margin-right: 10px;
}

.filter-form input[type="radio"]:not(:checked) + .radio-text:before {
  content: "";
  background-color: transparent;
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  opacity: 0.8;
  display: inline-block;
  width: 25px;
  height: 25px;
  vertical-align: middle;
  margin-right: 10px;
}

/* Ширина слайдера */
.wheel-slider {
  width: 176px;
}

/* Контейнер слайдера */
.ui-slider {
  position: relative;
}

/* Ползунок */
.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 20px; /* Задаем нужную ширину */
  height: 20px; /* и высоту */
  background-color: transparent;
  background-image: url("../img/filter-button.svg");
  background-repeat: no-repeat; /* картинка изображающая ползунок. Или можно залить цветом, задать бордюр и скругления */
  cursor: pointer;
}

.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  display: block;
  border: 0;
  overflow: hidden;
}

/* горизонтальный слайдер (сама полоса по которой бегает ползунок) */
.ui-slider-horizontal {
  height: 6px; /* задаем высоту согласно дизайна */
}

/* позиционируем ползунки */
.ui-slider-horizontal .ui-slider-handle {
  bottom: 50%;
  left: 50%;
  transform: translateY(50%) translateX(-50%);
}

.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 6px;
}

.ui-slider-horizontal .ui-slider-range-min {
  left: 0;
}

.ui-slider-horizontal .ui-slider-range-max {
  right: 0;
}

/* оформление полосы по которой ходит ползунок */
.ui-widget-content {
  background: rgba(255, 255, 255, 0.5);
}

/* оформление активного участка (между двумя ползунками) */
.ui-widget-header {
  background: #ffffff;
}

/* скругление для полосы слайдера */
.ui-corner-all {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.products {
  margin-top: 40px;
  padding-bottom: 15px;
}

.inner-products {
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}

.products-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.products-item {
  width: 267px;
  display: flex;
  display: -ms-flexbox;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-right: 25px;
  margin-bottom: 38px;
  position: relative;
}

.products-item img {
  position: absolute;
  z-index: -1;
}

.products-item.hit::before {
  content: "";
  background-color: transparent;
  background-image: url("../img/hit.svg");
  background-repeat: no-repeat;
  border-radius: 50px;
  position: absolute;
  height: 61px;
  width: 61px;
  z-index: 1;
}

.products-item:hover {
  z-index: 1;
}

.products-item:hover::after {
  content: "";
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -5px;
  width: calc(100% + 25px);
  height: calc(100% + 80px);
  z-index: -2;
}

.products-item:nth-child(4n) {
  margin-right: 0;
}

.products-item-price {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  text-shadow: 1px 0 3px rgba(49, 50, 53, 0.5);
  padding: 0;
  margin-bottom: 0;
  margin-top: 210px;
}

.ruble {
  margin-left: 5px;
}

.products-item-price-weight {
  font-size: 30px;
}

.products-item-link {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  text-align: center;
  margin-top: 21px;
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
  vertical-align: middle;
}

.products-item-btn {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  padding: 11px 15px;
  -ms-flex-item-align: center;
  align-self: center;
  text-align: center;
  position: absolute;
  bottom: -53px;
  display: none;
}

.products-item:hover .products-item-btn {
  display: block;
}

.advantages {
  background-color: #eee4cf;
  background-image: url("../img/waffles-bg.png");
  background-position: center;
  background-repeat: repeat;
  color: #323232;
  border-radius: 15px;
  padding: 23px 28px 25px 20px;
  margin-top: -15px;
}

.advantages-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.advantages-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.advantages-item {
  margin-top: 12px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  width: 532px;
  padding-left: 56px;
  padding-top: 12px;
  position: relative;
}

.img-icecream::before {
  content: "";
  background-color: transparent;
  background-image: url("../img/ice-cream.svg");
  width: 49px;
  height: 49px;
  position: absolute;
  left: 0;
  top: 0;
}

.img-leave::before {
  content: "";
  background-color: transparent;
  background-image: url("../img/eco.svg");
  width: 49px;
  height: 49px;
  position: absolute;
  left: 0;
  top: 0;
}

.img-cow::before {
  content: "";
  background-color: transparent;
  background-image: url("../img/cow.svg");
  width: 49px;
  height: 49px;
  position: absolute;
  left: 0;
  top: 0;
}

.img-thermometer::before {
  content: "";
  background-color: transparent;
  background-image: url("../img/thermometer.svg");
  width: 49px;
  height: 49px;
  position: absolute;
  left: 0;
  top: 0;
}

.blog-subscribe {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 40px;
}

.blog {
  background-color: #ffffff;
  background-image: url("../img/berries-bg.jpg");
  background-position: right;
  background-repeat: no-repeat;
  border-radius: 15px;
  color: #323232;
  width: 560px;
  padding: 23px 255px 25px 20px;
}

.blog-title {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
}

.blog-link {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-decoration: underline;
  border-bottom: none;
}

.blog-link:hover,
.blog-link:focus {
  border-bottom: none;
}

.subscribe {
  background-color: #f8f7f4;
  color: #5a5a5a;
  border: 5px solid transparent;
  border-image: url("../img/bg-post.svg") 5 stretch;
  border-radius: 15px;
  width: 560px;
  padding: 28px 22px 35px;
}

.subscribe-description {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.subscribe-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 35px;
}

.subscribe-form-btn {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  padding-left: 18px;
  padding-right: 18px;
}

.subscribe-form-input {
  width: 370px;
}

.contacts {
  color: #323232;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  background-color: #cee0c0;
  background-image: url("../img/map.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-top: 40px;
  padding-top: 62px;
  padding-bottom: 62px;
  position: relative;
}

.contacts-info {
  background-color: #fefefe;
  border-radius: 10px;
  margin-left: auto;
  width: 300px;
  padding: 30px 25px 30px;
  position: relative;
  z-index: 1;
}

.contacts-info-title {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  margin: 0;
  padding-right: 50px;
}

.contacts-info-address {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  margin: 0;
  margin-top: 2px;
}

.contacts-info-order {
  margin-top: 18px;
  margin-bottom: 5px;
}

.contacts-info-tel {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: inherit;
}

.contacts-info-mode {
  margin-top: 3px;
  margin-bottom: 24px;
}

.feedback-open-btn {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  padding: 10px 26px;
}

.pagination {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin-top: 48px;
}

.pagination-link-current,
.pagination-link:active {
  color: #323232;
  background-color: #ffffff;
  padding: 5px 10px;
  border-radius: 50px;
}

.pagination-link {
  color: inherit;
  text-decoration: none;
  padding: 5px 10px;
}

.pagination-back,
.pagination-forward {
  padding: 5px 10px;
}

.pagination-back svg {
  transform: rotate(180deg);
}

.pagination-back.link-disabled {
  opacity: 0.3;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-link:hover,
.pagination-forward:hover,
.pagination-link:focus,
.pagination-forward:focus {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
}

.main-footer {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  margin-top: 20px;
  padding-bottom: 27px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.footer-social-list,
.footer-menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
}

.footer-social-item-link svg {
  opacity: 0.8;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.footer-social-item-link:hover svg,
.footer-social-item-link:focus svg,
.footer-social-item-link:active svg {
  opacity: 1;
  border: 2px solid rgba(255, 255, 255, 0.7);
}

.footer-social-item-link:active {
  box-shadow: inset 1px 2px 1px 0 rgb(136, 136, 136);
}

.footer-social-item {
  margin-right: 15px;
}

.footer-social-item:last-child {
  margin-right: 0;
}

.footer-menu-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: 40px;
  margin-top: 2px;
  width: 330px;
}

.footer-menu-item {
  min-width: 145px;
  margin-top: 7px;
}

.footer-menu-item-link b {
  position: relative;
}

.footer-menu-item-link b::before {
  content: "";
  background-color: transparent;
  background-image: url("../img/heart.svg");
  position: absolute;
  width: 15px;
  height: 13px;
  left: -20px;
  margin-top: 2px;
  display: inline-block;
  vertical-align: middle;
}

.footer-academy {
  font-size: 12px;

}

.footer-academy img {
  width: 139px;
  height: 39px;
  margin-left: -10px;
}

.footer-academy p {
  padding: 0;
  margin: 0;
}

.modal-feedback {
  background-color: #f8f7f4;
  border-radius: 10px;
  width: 480px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px 25px 25px;
  position: fixed;
  z-index: 21;
  top: 50%;
  left: 50%;
  animation: bounce 0.5s;
  transform: translateY(-50%) translateX(-50%);
}

.modal-feedback-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: #323232;
  margin: 0;
}

.modal-feedback-form input {
  width: 265px;
}

.modal-feedback-form textarea {
  width: 100%;
}

.modal-feedback-form .form-input {
  margin-top: 25px;
}

.modal-feedback-form-btn {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  margin-left: auto;
  margin-top: 25px;
  padding: 10px 25px;
  display: block;
}

.feedback-close-btn {
  border: none;
  background-color: inherit;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  margin: 15px 15px 0 0;
}

.map {
  position: absolute;
  top: 0;
  z-index: 1;
}

.modal-error {
  animation: shake 0.6s;
}

.d-none {
  display: none;
}

.overlay {
  position: fixed;
  z-index: 20;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@keyframes bounce {
  0% {
    transform: translateY(-100%) translateX(-50%);
  }

  65% {
    transform: translateY(-10%) translateX(-50%);
  }

  90% {
    transform: translateY(-65%) translateX(-50%);
  }

  100% {
    transform: translateY(-50%) translateX(-50%);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateY(-50%) translateX(-50%);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateY(-50%) translateX(-52%);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateY(-50%) translateX(-48%);
  }
}
